[submodule "c-playground"]
	path = c-playground
	url = git@github.com:palage4a/c-playground.git
[submodule "go-playground"]
	path = go-playground
	url = git@github.com:palage4a/go-playground.git
[submodule "tarantool-playground"]
	path = tarantool-playground
	url = git@github.com:palage4a/tarantool-playground.git
